<h2>
  <%= @movie.title %>
</h2>

<h3>
  directed by
  <%= @movie.director.name %>
</h3>

<h3>Actors:</h3>
<table>
  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Votes:</h3>
<table>
  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.user.name %></td>
        <td><%= vote_score vote.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>

