<h2>
  <%= @movie.title %>
</h2>

<%# NOTE: Make sure to render only one to see the correct result or reload model between each render. %>
<%# <%= render '01_relationships' %1> %>
<%# <%= render '02_ids' %1> %>
<%# <%= render '03_pluck' %1> %>
<%# <%= render '04_pluck_uncached' %1> %>
<%# <%= render '05_actors_uncached' %1> %>
<%# <%= render '06_pluck_after_actors' %1> %>
<%# <%= render '07_pluck_before_actors' %1> %>
<%# <%= render '08_pluck_before_actors_with_select' %1> %>
<%# <%= render '09_ids_after_actors' %1> %>
<%# <%= render '10_ids_before_actors' %1> %>
<%# <%= render '11_ids_before_pluck' %1> %>
<%# <%= render '12_ids_after_pluck' %1> %>
<%# <%= render '13_pluck_star' %1> %>
